{% extends "todo/layout.html" %}
{% block title %}
Register
{% endblock %}
{% block body %}
<div class="form">
    {% if message %}
     {{message}}
    {% endif %}
    <header>Register</header>
    <form action="{% url 'register' %}" method='post'>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Full Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Confirm Password">
        <input type="submit" value="Register">
    </form>
    <p>Have an account already Login <a href="{% url 'login' %}">here</a></p>
</div>
{% endblock %}